<%- include('partials/favi') %>
<%- include('partials/links') %>
<link rel="stylesheet" href="/css/about.css">

<%- include('partials/nav') %>
    <body>   
        <div class="container">
            <div class="about-main">
                <h1 class="heading-about">About Us</h1>
                <div class="row row-about">
                    <div class="col-md-6">
                        <img src="/images/meet.jpg" alt="About Image" class="image-about">
                    </div>
                    <div class="col-md-6 para-about">
                        <h1>Welcome to Uneverso Stores</h1>
                        <p class="text-about">Uneverso Stores is the one destination for getting amazing cashbacks and discounts. This company believes in the benefit of the customer while keeping itself the zone for opportunities. So, if you wanna make money and have fun doing it. We would be honoured to have you join our team.
                        <br><br>☏ +91 9182935177<br>✉ teamofficial@uneversostores.com</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="faq container">
            <h1 class="center">Frequently Asked Questions</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 faq-main">
                    <h1>What is UNEVERSO Stores?</h1>
                    <p>This is a franchise. You can call it the land of opportunity. You can put your talent out in this platform like writing, poetry, marketing and you can make a fortune out of this. It's the home for people having talent. For customers, you can get awesome cashbacks and customer support when buying from this store.</p>
                </div>
                <div class="col-md-6 faq-main">
                    <h1>Can you make money from here?</h1>
                    <p>Just go to contact us and fill the form, our expert will contact you back soon. The opportunities is provided to every kind of people for all kind of fields.</p>
                </div>
                <div class="col-md-6 faq-main">
                    <h1>Why only us?</h1>
                    <p>Our firm is very secure as it is confirmed by our users. And our digital experts ensure that we have all the work done effectively & mentor those who join in thought of making fortune out of our firm. We believe it & we deliver it!</p>
                </div>
                <div class="col-md-6 faq-main">
                    <h1>Why work with us?</h1>
                    <p>This will be extremely important as it can be life changing for many, our experts will teach you / mentor you in the digital field and will give you the skills necessary. Importantly, the training or mentorship would result in conversion of work into money.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="about-main">
                <h1 class="heading-about">Store Policy</h1>
                <div class="row row-about">
                    <div class="col-md-6 para-about">
                        <h3>Because We Care!</h3>
                        <p>At Uneverso Stores, we want to give our customers the most enjoyable shopping experience, one that will keep them coming back to our store time and time again. That’s why we believe that our store policies should be fair, clear and transparent. Below you’ll find a list of all our policies. If you can’t find the information you’re looking for - please don’t hesitate to contact us today!</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/open.jpg" alt="About Image" class="image-about">
                    </div>
                </div>
            </div>
        </div>
    
<div class="footer l-box is-center">
    &copy; Uneverso Stores. All rights reserved 2020. Developed and Designed by @anandkishorprasad.
</div>
    </body>
</html>

<script>
    // js for toggle

    var menuitems = document.getElementById("menuitems");
    
    menuitems.style.maxHeight = "300px";

    function menutoggle(){
        if(menuitems.style.maxHeight == "300px"){
            menuitems.style.maxHeight = "0px";
        } else {
            menuitems.style.maxHeight = "300px";
        }
    }
</script>