<%- include('partials/favi') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Uneverso - Your Easy Buy</title>
</head>
<body>
    <div class="navbar container">
        <div class="logo">
            <img src="/images/logo.png" alt="" class="logo">
        </div>
        <nav class="margin-nav">
            <ul id="menuitems">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Account</a></li>
                <% if(!currentUser){ %>
                    <li>
                        <a href="/login">Account</a>
                    </li>
                <% } else { %>
                    <li ><a href="/dashboard">
                        Signed in as <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart"><img src="/images/cart.png" width="30px" height="30px" class="cart-nav"></a></li>
                <% } %>
            </ul>
        </nav>
        <img src="/images/menu.png" alt="" class="menu-icon" onclick="menutoggle()">
    </div>

    <div class="container">
        <% if(success && success.length>0){ %>
            <div class="alert alert-success flash-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger flash-faliure" role="alert">
                <div><%= error %></div>
            </div>
        <% } %>
    </div>

    <h1 class="center">Welcome Uneverso Admin!</h1>
    <br>
    <br>
    <div class="row container">
      <div class="col-2 choice center">
        <h3>Create a new Product</h3>
        <br>
        <p>Create a new product on the website by filling few details about the subject.</p>
        <br>
        <br>
        <a href="/admin/product/new" class="btn-choice">Create</a>
      </div>
      <div class="col-2 choice center">
        <h3>See Existing products</h3>
        <br>
        <p>See existing products on the website with their price.</p>
        <br>
        <br>
        <a href="/admin/product" class="btn-choice">Goto</a>
      </div>
    </div>

    <div class="row container">
      <div class="col-2 choice center">
        <h3>See Existing orders from customers.</h3>
        <br>
        <p>See the list of generated orders from customers in a tabular form.</p>
        <br>
        <br>
        <a href="/admin/order" class="btn-choice">Goto</a>
      </div>
      <div class="col-2 choice center">
        <h3>See Contact Form Applicants.</h3>
        <br>
        <p>See the list of contact form applicants in a tabular form.</p>
        <br>
        <br>
        <a href="/admin/contact" class="btn-choice">Goto</a>
      </div>
    </div>
    
    <!-- footer -->
        
    <div class="footer">
        <hr>
        <div class="row">
            <div class="col-4">
                <h3>Uneverso Stores</h3>
                <br>
                <p class="footer-about">Uneverso Stores is the one destination for getting amazing cashbacks and discounts. This company believes in the benefit of the customer while keeping itself the zone for opportunities. So, if you wanna make money and have fun doing it. We would be honoured to have you join our team.</p>
                <br>
                <p class="footer-about">☏ +91 9182935177</p>
                <p class="footer-about">✉ teamofficial@uneversostores.com</p>
            </div>
            <div class="col-4">
                <h4 class="footer-about">Quick Links</h4>
                <br>
                <ul>
                    <li><a href="/" class="footer-about">Home</a></li>
                    <li><a href="/about" class="footer-about">About</a></li>
                    <li><a href="/contact" class="footer-about">Contact</a></li>
                    <li><a href="/login" class="footer-about">Account</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4 class="footer-about">Social Links</h4>
                <br>
                <ul>
                    <li><a href="https://www.instagram.com/ig_uneverso/" class="footer-about">Instagram</a></li>
                </ul>
            </div>
        </div>
        <p class="footer-text">&copy; Uneverso Stores. All rights reserved 2020. Developed and Designed by @anandkishorprasad.</p>
    </div>

    <script>
        // js for toggle
    
        var menuitems = document.getElementById("menuitems");
        
        menuitems.style.maxHeight = "300px";
    
        function menutoggle(){
            if(menuitems.style.maxHeight == "300px"){
                menuitems.style.maxHeight = "0px";
            } else {
                menuitems.style.maxHeight = "300px";
            }
        }
    </script>
</body>
</html>