
<%- include('partials/favi') %>
<%- include('partials/links') %>
<%- include('partials/nav') %>

<div class="container login-main back-auth">
    <h1 class="center font display-4">Sign Up</h1>
    <img src="https://image.freepik.com/free-vector/follow-me-social-business-theme-design_24877-50426.jpg" alt="" class="user-image">
    <div class="center text-auth"><p class="text-black">Welcome to Uneverso Stores! We're filled with joy to see you here!</p></div>
        <div class="center">   
            <form action="/signup" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your Username" name="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Your Email" name="email">
            </div>
            <!-- <div class="form-group">
                <input class="form-control" type="number" placeholder="type" name="type">
            </div> -->
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Your password" name="password">
            </div>
            <div class="form-group">
                <input class="form-control btn-primary" type="submit" value="Sign Up">  
            </div>
            </form>
            <div class="center"><a href="/">Go back</a></div>
        </div>
    </div>
</div>

<div class="footer l-box is-center">
    &copy; Uneverso Stores. All rights reserved 2020. Developed and Designed by @anandkishorprasad.
</div>

<script>
    // js for toggle

    var menuitems = document.getElementById("menuitems");
    
    menuitems.style.maxHeight = "300px";

    function menutoggle(){
        if(menuitems.style.maxHeight == "300px"){
            menuitems.style.maxHeight = "0px";
        } else {
            menuitems.style.maxHeight = "300px";
        }
    }
</script>